@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/extends' as *;

.producto-detalle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $espaciado-xl;
  align-items: center;
  padding: $espaciado-md $espaciado-md;

  @include tablet {
    grid-template-columns: 1fr;
  }
  
}

.producto-imagen {
  img {
    width: 100%;
    border-radius: $border-radius-md;
  }
}

.producto-info {
  display: flex;
  flex-direction: column;
  gap: $espaciado-md;

  h1 {
    font-size: clamp(2rem, 4vw, 3rem);
    color: $color-negro;
  }

  h2 {
    font-size: $font-size-xl;
    color: $color-primario;
    margin-bottom: $espaciado-xs;
  }

  p {
    font-size: $font-size-lg;
    line-height: 1.7;
    color: $color-negro;
  }
}

.producto-botones {
  display: flex;
  gap: $espaciado-sm;
  margin-top: $espaciado-sm;
}

.btn-comprar {
  @include boton-base($color-primario, $color-blanco);
}

.btn-recetas {
  @include boton-base($color-secundario, $color-blanco);
}